@charset "UTF-8";

.root2{
	background-image: url('https://i.pinimg.com/originals/7f/92/2a/7f922a9739cefc3f0a5f3a8698b0ae18.png');
	width: 1300px;
	height: 842px;
	margin: 50px auto;
	background-repeat: no-repeat;
	background-size: 115% auto;
}

.battleField{
	width: 900px;
	height: 400px;
	margin: 0px auto;
	padding-top: 220px;
}

.playerBox{
	width: 202px;
	margin: 81px 0px 0px 60px;
	float: left; width: 30%;
}

.hp1{
	border: 1px solid black;
	width: 200px;	
	background:linear-gradient(to left,red,white);	
}

.mp1{
	border: 1px solid black;
	width: 200px;	
	background:linear-gradient(to left,blue,white);	
}

.player{
	margin:30px 53px 0px 53px;
}

.monsterBox{	
	width: 202px;
	float: right; width: 30%;
	margin: 105px 0px 0px 270px;
	text-align: left;
}

.hp2{
	border: 1px solid black;
	width: 200px;	
	background:linear-gradient(to left,red,white);
	margin-left: 10px;	
}

.monster{
	width: 150px;
	padding: 0px 0px 0px 48px;
    margin: 25px 0px 0px 0px;
}

.interface{
	width: 900px;
	height: 221px;
	margin: 0px auto;
}

.charInterface{
	width:200px;	
	float: left;
    width: 20%;
}

.skillInterface{
	border-top: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	border-left: none;
	border-radius: 0px 30px 30px 0px;
	width: 680px;
	height: 110px;	
	background-color:rgb(186, 189, 197);
	float: left;
    width: 70%;
    margin: 40px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}


.skill1{
	border: 3px solid white;
	width: 75px;	
}

.skill1:hover{
	
}

.skill2{
	border: 3px solid white;	
}

.skill3{
	border: 3px solid white;
	width: 75px;	
}

.skill4{
	border: 3px solid white;
	width:75px;	
}

.skillbox1{
	width: 81px;
	height: 80px;	
	font-weight: 800;	
	float: left; width: 30%;
	text-align: right;
	padding: 12px 0px 0px 40px;
}

.skillbox2{
	width: 81px;
	height: 80px;	
	font-weight: 800;	
	float: left; width: 15%;
	text-align: right;
	padding: 12px 0px 0px 20px;
}

.skillbox3{
	width: 81px;
	height: 80px;
	font-weight: 800;
	float: left; width: 15%;
	text-align: right;
	padding: 12px 0px 0px 20px;
}

.skillbox4{
	width: 81px;
	height: 80px;	
	font-weight: 800;
	float: left; width: 15%;
	text-align: right;
	padding: 12px 0px 0px 20px;
}
