@charset "UTF-8";

.root-mainScreen{
	background-image: url('../images/메인화면.png');
	width: 1300px;
	height: 900px;
	margin: auto;
	background-repeat: no-repeat;
	background-size: 120% auto;
}

.fieldInfo{
	border: 2px solid aquamarine;
    width: 400px;
    height: 168px;
}

.firstLine{
	width: 350px;
    border: 3px solid black;
    height: 60px;
    margin: 10px 0px 10px 20px;
    background-color: aliceblue;
}

.level{
	width: 71px;
    font-size: 40px;
    display: inline-block;
    text-align: center;
}

.levelInfo{
	width: 50px;
    display: inline-block;
    height: 50px;
    font-size: 40px;
    text-align: left;
}

.levelBox{
	border: 2px solid black;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.secondLine{
	border: 2px solid black;
    width: 300px;
    margin: 20px 0px 0px 20px;
    height: 50px;
}

.money{
	font-size: 40px;
}

.charBox{
	/*border: 1px solid black;*/
	height: 440px;
}

.mainCharacter{
	margin-left: 470px;
    margin-top: 31px;
}

.menuBox{
	width: 1200px;
    border: 0px solid black;
    height: 165px;
    border-radius: 0px 0px 40px 40px;
    background: linear-gradient(0deg, lightblue, transparent);
    margin: 65px auto 0px;
}

.menu-main{
	width: 183px;
    margin-bottom: 33px;
    margin-left: 40px;
}

.menu-shop{
	width: 150px;
    margin-bottom: 47px;
    margin-left: 47px;
}

.menu-information{
	margin-left: 293px;
    width: 215px;
    margin-bottom: 65px;
}

.menu-battle{
	width: 110px;
    margin-bottom: 60px;
    margin-left: 75px;
}
