@charset "UTF-8";


.startBox{		
	width: 380px;
    margin-top: 400px;
}

.firstBox{
	width: 320px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.secondBox{
	width: 320px;
    margin-left: 50px;
    margin-bottom: 50px;
}
